# Wrangle and Analyze Data of a Twitter Account


## Table of Contents
- [1. Introduction](#intro)
- [2. Gather data](#gather)
- [3. Assess data](#assess)
- [4. Clean data](#clean)
- [5. Store](#store)


<a id='gather'></a>
## 1. Introduction

This project is an analysis of correlation between the Covid-19 cases and the political environment of different countries. Goal is to find answers or at least indicators to questions like: 
- Did the countries which had more success in containing the amount of Covid-19 cases something in common? 
- Is there a correlation in  Gross domestic product, Human Development Index or political ideology with the amount of Covid-19 cases of the country.

Main goal of this project is to generate a comprehensive exploratory and explanatory data analysis of the gathered data. The data analysis process is distributed over three ipynb-files: gather_clean_Covid19.ipynb, exploration_Covid19.ipynb and slide_deck_Covid19.ipynb.

Firstly, as part of gather_clean_Covid19.ipynb data is gathered from different sources: The Covid-19 data of this project is retrieved via programmatically downloaded csv-files from the GitHub repository [Covid-19](https://github.com/CSSEGISandData/COVID-19) and additional data about countries is retrieved via the wikipedia API. Secondly, the data from the different sources is visually and programmatically assessed to be cleaned.
The exploratory and explanatory data analysis of the gathered data is performed in exploration_Covid19.ipynb. Finally the findings are presented in slide_deck_Covid19.ipynb.

In [685]:
# Import necessary libraries
import numpy as np
import pandas as pd
from datetime import date
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import os # to work with local directory
import re
import wptools
import json # to create json file from python dictionary
import time # for timer 
sns.set()

<a id='intro'></a>
## 2. Gather data

####  Data is gathered from three different sources of data as described in steps below:

1. Fatality, confirmed cases, recovered cases and data by country is retrieved via programmatically downloaded csv-files from the GitHub repository [Covid-19](https://github.com/CSSEGISandData/COVID-19).
2. Additional data is retrieved via the wptools API from different wikipedia articles.

### a. Read data from programmatically download csv-file

In [686]:
# Gather data from John Hopkins GitHub 
df_JHU_Fatality = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
df_JHU_Confirmed = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df_JHU_Recovered = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
df_JHU_Countries = pd.read_csv('https://raw.githubusercontent.com/RRighart/covid-19/master/countries.csv')

In [687]:
df_OWID_Covid = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')
df_OWID_Testing = pd.read_csv('https://covid.ourworldindata.org/data/testing/covid-testing-latest-data-source-details.csv')
df_OWID_Countries = pd.read_csv('https://covid.ourworldindata.org/data/ecdc/locations.csv')

### b. Read data from local datasets

Data downloaded manually from different databases, [European statistical database](https://ec.europa.eu/eurostat/data/database), [Wikipedia table on intensive care units](https://en.wikipedia.org/wiki/List_of_countries_by_hospital_beds) and [United Nations database](https://data.un.org):

In [688]:
df_ESTAT_census = pd.read_csv('inputData/Eurostat_census_2001.csv')
df_WIKI_ICU = pd.read_csv('inputData/Wikipedia_ICU.csv')
df_UN_births = pd.read_csv('inputData/UNdata_birthsByMonth.csv')
df_UN_deaths = pd.read_csv('inputData/UNdata_deathsByMonth.csv')

### c. Query additional information for countries via wikipedia API

Additional Information
- Leader Gender
- Ideology of Leading Party
- Amount of Intensive Care Beds
- Gross domestic product per capita
- Human Development Index

In [689]:
# Query for every tweet id in enhanced twitter archive and save tweet-information in json-format to 'tweet_json.txt'
'''             
country_jsons = {}
county_id_errors = []
start = time.time()
count = 0


with open('country_json.txt', 'w') as outfile:
    
    for country in df_JHU_Countries['Country/Region']:
        count +=1
        try:
            # Query API for data of wikipedia article
            article = wptools.page(country).get_parse()
            infobox = article.data['infobox']
            # Measure elapsed time
            mid_s = time.time()
            # Print id and time elapsed
            print(str(count) + str(mid_s - start) )
            # Write json of tweet to 'tweet_json.txt'
            json.dump(infobox, outfile)
            # New line
            outfile.write("\n")

        # Not best practice to catch all exceptions but fine for this short script
        except Exception as error:
            mid_f = time.time()
            print(str(count) + str(mid_f - start) + str(error))
            # Gather ids of id's without status
            tweet_id_errors.append([count, str(tweet_id)])
            
    end = time.time()
    print(end - start)
    
    '''

'             \ncountry_jsons = {}\ncounty_id_errors = []\nstart = time.time()\ncount = 0\n\n\nwith open(\'country_json.txt\', \'w\') as outfile:\n    \n    for country in df_JHU_Countries[\'Country/Region\']:\n        count +=1\n        try:\n            # Query API for data of wikipedia article\n            article = wptools.page(country).get_parse()\n            infobox = article.data[\'infobox\']\n            # Measure elapsed time\n            mid_s = time.time()\n            # Print id and time elapsed\n            print(str(count) + str(mid_s - start) )\n            # Write json of tweet to \'tweet_json.txt\'\n            json.dump(infobox, outfile)\n            # New line\n            outfile.write("\n")\n\n        # Not best practice to catch all exceptions but fine for this short script\n        except Exception as error:\n            mid_f = time.time()\n            print(str(count) + str(mid_f - start) + str(error))\n            # Gather ids of id\'s without status\n            tweet_id_errors.append([count, str(tweet_id)])\n            \n    end = time.time()\n    print(end - start)\n    \n    '

In [690]:
'''
so = wptools.page('Germany').get_parse()
infobox = so.data['infobox']
print(infobox)
'''

"\nso = wptools.page('Germany').get_parse()\ninfobox = so.data['infobox']\nprint(infobox)\n"

<a id='assess'></a>
## 3. Assess data

After gathering each of the above pieces of data, they are assessed visually and programmatically for quality and tidiness issues. Requirements to be met:

- Quality requirements:
    - Completeness: All necessary records in dataframes, no specific rows, columns or cells missing.
    - Validity: No records available, that do not conform schema.
    - Accuracy: No wrong data, that is valid.
    - Consistency: No data, that is valid and accurate, but referred to in multiple correct ways.
- Tidiniss requirements (as defined by Hadley Wickham):
    - each variable is a column
    - each observation is a row
    - each type of observational unit is a table.

### a. Visual assessment

In [691]:
# Check layout of df_JHU_Countries vsiually
df_JHU_Countries.sample(n=5)

    Unnamed: 0 Country/Region  inhabitants     area
23          23        Finland      5540720   303890
15          15     Luxembourg       625978     2590
13          13    South Korea     51269185    97230
7            7          Spain     46767543   498511
28          28      Indonesia    273523615  1811570

In [692]:
# Check layout of df_JHU_Fatality vsiually
df_JHU_Fatality.sample(n=5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
86,NaN,Cote d'Ivoire,7.5400,-5.5471,0,0,0,0,0,0,...,20,20,21,21,21,21,24,24,24,25
167,Curacao,Netherlands,12.1696,-68.9900,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
96,NaN,Dominican Republic,18.7357,-70.1627,0,0,0,0,0,0,...,373,380,385,388,393,402,409,422,424,428
156,NaN,Mauritania,21.0079,10.9408,0,0,0,0,0,0,...,1,1,1,1,1,1,2,2,3,4
237,NaN,Belize,13.1939,-59.5432,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2

In [693]:
# Check layout of df_JHU_Confirmed vsiually
df_JHU_Confirmed.sample(n=5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
158,NaN,Mexico,23.6345,-102.5528,0,0,0,0,0,0,...,29616,31522,33460,35022,36327,38324,40186,42595,45032,47144
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,169430,170588,171324,171879,172576,173171,174098,174478,175233,175752
215,NaN,Ukraine,48.3794,31.1656,0,0,0,0,0,0,...,13691,14195,14710,15232,15648,16023,16425,16847,17330,17858
247,NaN,Burma,21.9162,95.9560,0,0,0,0,0,0,...,176,177,178,180,180,180,181,181,182,182
91,NaN,Czechia,49.8175,15.4730,0,0,0,0,0,0,...,8031,8077,8095,8123,8176,8221,8269,8351,8406,8455

In [694]:
# Check layout of df_JHU_Recovered vsiually
df_JHU_Recovered.sample(n=5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
61,Ningxia,China,37.2692,106.1655,0,0,0,0,0,0,...,75,75,75,75,75,75,75,75,75,75
93,NaN,Eritrea,15.1794,39.7823,0,0,0,0,0,0,...,30,37,37,37,38,38,38,38,39,39
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
188,NaN,Saint Vincent and the Grenadines,12.9843,-61.2872,0,0,0,0,0,0,...,9,9,9,9,9,12,12,12,14,14
219,Channel Islands,United Kingdom,49.3723,-2.3644,0,0,0,0,0,0,...,430,447,447,447,452,455,456,456,457,458

In [695]:
# Check layout of df_OWID_Covid vsiually
df_OWID_Covid.sample(n=5)

# df_OWID_Covidchange 'location' to 'country'
# df_OWID_Covid create df_OWID_Countries with 'iso_code', 'location', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_100k'
# df_OWID_Covid merge it to df_country

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
15275,SUR,Suriname,2020-05-10,10,0,1,0,17.046,0.000,1.705,...,6.933,4.229,13767.119,NaN,258.314,12.54,7.4,42.9,67.779,3.1
11500,MNP,Northern Mariana Islands,2020-04-30,14,0,2,0,243.237,0.000,34.748,...,NaN,NaN,NaN,NaN,194.994,NaN,NaN,NaN,NaN,NaN
436,ARE,United Arab Emirates,2020-01-07,0,0,0,0,0.000,0.000,0.000,...,1.144,0.526,67293.483,NaN,317.840,17.26,1.2,37.4,NaN,1.2
2199,BMU,Bermuda,2020-03-31,27,5,0,0,433.575,80.292,0.000,...,NaN,NaN,50669.315,NaN,139.547,13.00,NaN,NaN,NaN,NaN
9504,KWT,Kuwait,2020-02-25,5,2,0,0,1.171,0.468,0.000,...,2.345,1.114,65530.537,NaN,132.235,15.84,2.7,37.0,NaN,2.0

In [696]:
# Check layout of df_OWID_Testing vsiually
df_OWID_Testing.sample(n=5)

# df_OWID_Testing drop columns 'source URL', 'Source label', 'Notes', 'Number of observations', 'Daily change in cumulative total', 'Daily change in cumulative total per thousand', '3-day rolling mean daily change', '3-day rolling mean daily change per thousand', '7-day rolling mean daily change', '7-day rolling mean daily change per thousand','General source label', 'General source URL', 'Short description', 'Detailed description'
# df_OWID_Testing Either cut per regex country name from 'Entity' and rename country or join country name from other df

,ISO code,Entity,Date,Source URL,Source label,Notes,Number of observations,Cumulative total,Cumulative total per thousand,Daily change in cumulative total,Daily change in cumulative total per thousand,3-day rolling mean daily change,3-day rolling mean daily change per thousand,7-day rolling mean daily change,7-day rolling mean daily change per thousand,General source label,General source URL,Short description,Detailed description
50,NPL,Nepal - people tested,2020-05-15,https://github.com/raunakms/covid19nepal/blob/...,Ministry of Health and Population,Made available on GitHub by Raunak Shrestha,85,23914,0.821,1250.0,0.043,1650.0,0.057,1203.143,0.041,Ministry of Health and Population,https://covid19.mohp.gov.np/#/,The number of people tested.,The Ministry of Health and Population publishe...
47,MEX,Mexico - cases tested,2020-05-15,https://datos.gob.mx/busca/dataset/informacion...,Health Secretary,NaN,136,134663,1.044,NaN,0.000,NaN,0.006,NaN,0.016,Health Secretary,https://datos.gob.mx/busca/dataset/informacion...,The number of cases tested.,The Mexican Health Secretary publishes a datas...
53,NGA,Nigeria - samples tested,2020-05-16,https://web.archive.org/web/20200516120106/htt...,Nigeria Centre for Disease Control,NaN,19,32942,0.160,NaN,NaN,NaN,NaN,NaN,NaN,Nigeria Centre for Disease Control,https://ncdc.gov.ng/diseases/sitreps/?cat=14&n...,The number of samples tested.,"The Nigeria Centre for Disease Control, on the..."
88,USA,United States - tests performed,2020-05-13,https://web.archive.org/web/20200514114805/htt...,United States CDC,NaN,2,10217573,30.869,492694.0,1.488,NaN,NaN,NaN,NaN,United States CDC,https://www.cdc.gov/coronavirus/2019-ncov/case...,The number of tests performed.,"On 13 May 2020, the United States CDC's viral ..."
52,NZL,New Zealand - tests performed,2020-05-15,https://www.health.govt.nz/our-work/diseases-a...,Ministry of Health,NaN,68,223937,46.438,7150.0,1.483,6964.0,1.444,5842.571,1.212,New Zealand Ministry of Health,https://www.health.govt.nz/our-work/diseases-a...,The number of tests performed.,The New Zealand Ministry of Health provide a t...

In [697]:
# Check layout of df_OWID_Countries vsiually
df_OWID_Countries.sample(n=5)

# df_OWID_Countries convert datatype population to integer
# df_OWID_Countries drop 'countriesAndTerritories', 'population_year'

,countriesAndTerritories,location,continent,population_year,population
151,Paraguay,Paraguay,South America,2020.0,7132530.0
205,Vietnam,Vietnam,Asia,2020.0,97338583.0
169,Seychelles,Seychelles,Africa,2020.0,98340.0
67,Faroe_Islands,Faeroe Islands,Europe,2020.0,48865.0
31,Burkina_Faso,Burkina Faso,Africa,2020.0,20903278.0

In [698]:
# Check layout of df_ESTAT_census vsiually
df_ESTAT_census.sample(n=5)

# df_ESTAT_census make columns from values in n_person
# df_ESTAT_census replace 'Germany (until 1990 former territory of the FRG)' with 'Germany'
# df_ESTAT_census drop country 'Bulgaria'
# df_ESTAT_census drop '4 persons', '5 persons', '6 persons or more'

,N_PERSON,GEO,TIME,AGE,HHCOMP,UNIT,Value,Flag and Footnotes
167,4 persons or more,Ireland,2001,65 years or over,Total,Number,266,NaN
209,5 persons,Slovenia,2001,65 years or over,Total,Number,:,NaN
86,2 persons,Ireland,2001,65 years or over,Total,Number,"83,533",NaN
185,4 persons or more,United Kingdom,2001,65 years or over,Total,Number,"1,521",NaN
121,3 persons,Luxembourg,2001,65 years or over,Total,Number,284,NaN

In [699]:
df_ESTAT_census.AGE.value_counts()

65 years or over    243
Name: AGE, dtype: int64

In [700]:
# Check layout of df_WIKI_ICU vsiually
df_WIKI_ICU.sample(n=5)

,country,continent,hospital_beds_per_1000_people,occupancy,ICU-CCB_beds_per_1000_people,ventilators
25,Italy,Europe,3.18,78.9,12.5,"5,324"
3,Germany,Europe,8.00,79.8,33.9,"40,000"
22,Portugal,Europe,3.39,66.8,4.2,"1,400"
14,Estonia,Europe,4.69,70.4,14.6,NaN
36,Sweden,Europe,2.22,NaN,5.8,570

In [701]:
df_UN_births.sample(n=5)
# Drop columns 'Area', 'Record Type', 'Reliability', 'Value Footnotes', 'Source Year'
# change datatype of columns  'Value' to integer
# Merge df_UN_births and df_UN_deaths on Year

,Country or Area,Year,Area,Month,Record Type,Reliability,Source Year,Value,Value Footnotes
5168,Kyrgyzstan,2016,Total,June,Data tabulated by year of occurrence,"Final figure, complete",2017.0,13992.0,NaN
2688,Czechia,2019,Total,January,Data tabulated by year of occurrence,Provisional figure,2019.0,9386.0,NaN
3889,Greenland,2015,Total,January,Data tabulated by year of occurrence,"Final figure, complete",2016.0,73.0,NaN
1874,Chile,2011,Total,December,Data tabulated by year of occurrence,"Final figure, complete",2014.0,20476.0,NaN
1063,Belarus,2017,Total,October,Data tabulated by year of occurrence,"Final figure, complete",2019.0,8196.0,NaN

In [702]:
df_UN_births.Area.value_counts()

Total    10373
Name: Area, dtype: int64

In [703]:
df_UN_deaths.sample(n=5)

,Country or Area,Year,Area,Month,Record Type,Reliability,Source Year,Value,Value Footnotes
2698,Denmark,2011,Total,June,Data tabulated by year of occurrence,"Final figure, complete",2012.0,4080.0,12
4572,Japan,2015,Total,March,Data tabulated by year of occurrence,"Final figure, complete",2017.0,113859.0,22
8552,Spain,2011,Total,Total,Data tabulated by year of occurrence,"Final figure, complete",2013.0,386017.0,NaN
6853,Philippines,2012,Total,January,Data tabulated by year of occurrence,"Final figure, complete",2015.0,45475.0,NaN
4878,Kyrgyzstan,2010,Total,October,Data tabulated by year of occurrence,"Final figure, complete",2013.0,2985.0,NaN

### b. Programmatic assessment

In [704]:
# List of countries that are avaoilable in John Hopkins Dataset
df_JHU_Recovered['Country/Region'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Diamond Princess',
       'Cuba', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Grenada', 'Greece', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan',
       'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan*',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'US',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Zambia', 'Zimbabwe',
       'West Bank and Gaza', 'Laos', 'Kosovo', 'Burma', 'MS Zaandam',
       'Botswana', 'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan',
       'Western Sahara', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho'], dtype=object)

In [705]:
# List of countries that are avaoilable in John Hopkins Dataset
df_OWID_Covid['location'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Bonaire Sint Eustatius and Saba',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of Congo', 'Congo', 'Colombia', 'Comoros',
       'Cape Verde', 'Costa Rica', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt',
       'Eritrea', 'Western Sahara', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'Falkland Islands', 'France', 'Faeroe Islands',
       'Gabon', 'United Kingdom', 'Georgia', 'Guernsey', 'Ghana',
       'Gibraltar', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong', 'Honduras', 'Croatia', 'Haiti',
       'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland', 'Iran',
       'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jersey',
       'Jordan', 'Japan', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia',
       'Saint Kitts and Nevis', 'South Korea', 'Kuwait', 'Laos',
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'Morocco', 'Monaco', 'Moldova', 'Madagascar', 'Maldives', 'Mexico',
       'Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia',
       'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Montserrat', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Puerto Rico',
       'Portugal', 'Paraguay', 'Palestine', 'French Polynesia', 'Qatar',
       'Kosovo', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Swaziland', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syria', 'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Timor', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Taiwan', 'Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan', 'Vatican',
       'Saint Vincent and the Grenadines', 'Venezuela',
       'British Virgin Islands', 'United States Virgin Islands',
       'Vietnam', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe', 'World',
       'International'], dtype=object)

In [706]:
# Available variables in dataset
list(df_OWID_Covid)

['iso_code',
 'location',
 'date',
 'total_cases',
 'new_cases',
 'total_deaths',
 'new_deaths',
 'total_cases_per_million',
 'new_cases_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'tests_units',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cvd_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_100k']

In [707]:
df_OWID_Covid.query('location == "Germany" and date == "2020-05-13"')

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k
4244,DEU,Germany,2020-05-13,171306,798,7634,101,2044.616,9.524,91.115,...,21.453,15.957,45229.245,NaN,156.139,8.31,28.2,33.1,NaN,8.0

In [708]:
df_Check = df_JHU_Confirmed.copy()
df_Check.rename(columns={'Country/Region': 'country'}, inplace=True)
df_Check.query('country == "Germany"')

,Province/State,country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
120,NaN,Germany,51.0,9.0,0,0,0,0,0,1,...,169430,170588,171324,171879,172576,173171,174098,174478,175233,175752

In [709]:
# Check for countries which are referred to by different names in different dataframes
c_df_JHU_Fatality =  df_JHU_Fatality['Country/Region'].unique()
c_df_JHU_Confirmed = df_JHU_Confirmed['Country/Region'].unique()
c_df_JHU_Recovered = df_JHU_Recovered['Country/Region'].unique()
c_df_JHU_Countries = df_JHU_Countries['Country/Region'].unique()
c_df_OWID_Covid = df_OWID_Covid['location'].unique()
c_df_OWID_Testing = df_OWID_Testing['Entity'].unique()
c_df_OWID_Countries = df_OWID_Countries['location'].unique()
c_df_WIKI_ICU = df_WIKI_ICU['country'].unique()
c_df_UN_births = df_UN_births['Country or Area'].unique()
c_df_UN_deaths = df_UN_deaths['Country or Area'].unique()

all_country_names = list(c_df_JHU_Fatality) + list(c_df_JHU_Confirmed) + list(c_df_JHU_Recovered) + list(c_df_JHU_Countries) + list(c_df_OWID_Covid) + list(c_df_OWID_Testing) + list(c_df_OWID_Countries) + list(c_df_WIKI_ICU) + list(c_df_UN_births) + list(c_df_UN_deaths)

all_country_names = pd.Series(all_country_names).unique()

In [710]:
all_country_names

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Brazil', 'Brunei', 'Bulgaria',
       'Burkina Faso', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Diamond Princess', 'Cuba', 'Cyprus',
       'Czechia', 'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lebanon', 'Liberia', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malaysia', 'Maldives', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'San Marino', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Singapore', 'Slovakia',
       'Slovenia', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan*',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'US', 'Uzbekistan', 'Venezuela',
       'Vietnam', 'Zambia', 'Zimbabwe', 'Dominica', 'Grenada',
       'Mozambique', 'Syria', 'Timor-Leste', 'Belize', 'Laos', 'Libya',
       'West Bank and Gaza', 'Guinea-Bissau', 'Mali',
       'Saint Kitts and Nevis', 'Kosovo', 'Burma', 'MS Zaandam',
       'Botswana', 'Burundi', 'Sierra Leone', 'Malawi', 'South Sudan',
       'Western Sahara', 'Sao Tome and Principe', 'Yemen', 'Comoros',
       'Tajikistan', 'Lesotho', 'South Korea', 'Taiwan', 'Aruba',
       'Anguilla', 'Bonaire Sint Eustatius and Saba', 'Bermuda',
       'Democratic Republic of Congo', 'Congo', 'Cape Verde', 'Curacao',
       'Cayman Islands', 'Czech Republic', 'Falkland Islands',
       'Faeroe Islands', 'Guernsey', 'Gibraltar', 'Greenland', 'Guam',
       'Hong Kong', 'Isle of Man', 'Jersey', 'Macedonia', 'Myanmar',
       'Northern Mariana Islands', 'Montserrat', 'New Caledonia',
       'Puerto Rico', 'Palestine', 'French Polynesia', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Turks and Caicos Islands', 'Timor',
       'United States', 'Vatican', 'British Virgin Islands',
       'United States Virgin Islands', 'World', 'International',
       'Argentina - tests performed', 'Australia - tests performed',
       'Austria - tests performed', 'Bahrain - units unclear',
       'Bangladesh - samples tested', 'Belarus - tests performed',
       'Belgium - units unclear', 'Bolivia - cases tested',
       'Brazil - tests performed', 'Bulgaria - tests performed',
       'Canada - people tested', 'Chile - tests performed',
       'Colombia - samples tested', 'Costa Rica - people tested',
       'Croatia - people tested', 'Cuba - tests performed',
       'Czech Republic - tests performed', 'Denmark - people tested',
       'Ecuador - units unclear', 'El Salvador - tests performed',
       'Estonia - tests performed', 'Ethiopia - tests performed',
       'Finland - samples tested', 'France - tests performed',
       'Germany - tests performed', 'Ghana - people tested',
       'Ghana - samples tested', 'Greece - tests performed',
       'Hong Kong - tests performed', 'Hungary - tests performed',
       'Iceland - samples tested', 'India - people tested',
       'India - samples tested', 'Indonesia - people tested',
       'Iran - tests performed', 'Ireland - units unclear',
       'Israel - tests performed', 'Italy - people tested',
       'Italy - tests performed', 'Japan - people tested',
       'Japan - tests performed', 'Kazakhstan - tests performed',
       'Kenya - units unclear', 'Latvia - tests performed',
       'Lithuania - samples tested', 'Luxembourg - people tested',
       'Malaysia - cases tested', 'Mexico - cases tested',
       'Morocco - people tested', 'Myanmar - samples tested',
       'Nepal - people tested', 'Netherlands - people tested',
       'New Zealand - tests performed', 'Nigeria - samples tested',
       'Norway - people tested', 'Pakistan - tests performed',
       'Panama - units unclear', 'Paraguay - samples tested',
       'Peru - units unclear', 'Philippines - people tested',
       'Poland - samples tested', 'Portugal - samples tested',
       'Qatar - people tested', 'Romania - tests performed',
       'Russia - tests performed', 'Rwanda - units unclear',
       'Saudi Arabia - units unclear', 'Senegal - tests performed',
       'Serbia - people tested', 'Singapore - people tested',
       'Singapore - swabs tested', 'Slovakia - tests performed',
       'Slovenia - tests performed', 'South Africa - units unclear',
       'South Korea - cases tested', 'Spain - tests performed',
       'Sweden - people tested', 'Switzerland - tests performed',
       'Taiwan - tests performed', 'Thailand - people tested',
       'Thailand - samples tested', 'Tunisia - units unclear',
       'Turkey - tests performed', 'Uganda - samples tested',
       'Ukraine - units unclear', 'United Kingdom - people tested',
       'United Kingdom - tests performed',
       'United States - inconsistent units (COVID Tracking Project)',
       'United States - tests performed', 'Uruguay - tests performed',
       'Vietnam - units unclear', 'Zimbabwe - tests performed',
       '\xa0Japan', '\xa0South Korea', '\xa0Russia', '\xa0Germany',
       '\xa0Austria', '\xa0Hungary', '\xa0Czech Republic', '\xa0Poland',
       '\xa0Lithuania', '\xa0France', '\xa0Slovakia', '\xa0Belgium',
       '\xa0Latvia', '\xa0Hong Kong', '\xa0Estonia', '\xa0Luxembourg',
       '\xa0\xa0Switzerland', '\xa0Slovenia', '\xa0China', '\xa0Greece',
       '\xa0Australia', '\xa0Norway', '\xa0Portugal', '\xa0Netherlands',
       '\xa0Finland', '\xa0Italy', '\xa0Iceland', '\xa0Israel',
       '\xa0Spain', '\xa0Ireland', '\xa0Turkey', '\xa0United States',
       '\xa0New Zealand', '\xa0Denmark', '\xa0United Kingdom(more)',
       '\xa0Canada', '\xa0Sweden', '\xa0Chile', '\xa0Colombia',
       '\xa0India', '\xa0Mexico', '\xa0Ukraine', '\xa0Bangladesh',
       'Åland Islands', 'American Samoa', 'Brunei Darussalam',
       'China, Hong Kong SAR', 'China, Macao SAR', 'Cook Islands',
       'Curaçao', 'Faroe Islands', 'Iran (Islamic Republic of)', 'Palau',
       'Republic of Korea', 'Republic of Moldova', 'Russian Federation',
       'Saint Helena ex. dep.',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Venezuela (Bolivarian Republic of)',
       'footnoteSeqID', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40'], dtype=object)

### Findings, which contradict requirements:

#### Quality Observations:
- Validity: Some observations/rows in dataframes 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality' contain the values for a region, for example Australia appears multiple times in column country as the observations are per region.
- Consistency: Data about Covid-19 cases differs slightly between John Hopkins and OWID, data which is available in both datasets will be kept only from John Hopkins

#### Tidiness Observations:
- The data of 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality' should be one observational unit 'df_covid' with columns 'country', 'date', 'recovered', 'confirmed', 'fatal' and 'date' beeing of type datetime.
- Column 'Country/Region' should only contain countries, therefore column name should by 'country', same for OWID data.
- Columns 'Province/State', 'Lat' and 'Long' are not necessary in dataframes 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality'
- Data for countries, which are not of interested is not needed in dataframes 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality', 'df_JHU_Countries'
- In the df_OWID_Covid_clean dataframes there is covid-related data where the variation frequency is daily and there is data not directly covid-related where data variation frequency is monthly or even constant for . Thus, there should be three observational units, df_covid for covid-related data and daily observations, df_OWID_country.




- df_OWID_Countries convert datatype population to integer
- df_OWID_Countries drop 'countriesAndTerritories', 'population_year'
- df_ESTAT_census make columns from values in n_person
- df_ESTAT_census replace 'Germany (until 1990 former territory of the FRG)' with 'Germany'
- df_ESTAT_census drop country 'Bulgaria'
- df_ESTAT_census drop '4 persons', '5 persons', '6 persons or more'

-  merge df_OWID_Countries with df_country

<a id='clean'></a>
## 4. Clean data

In [711]:
# Create copies for cleaning process to preserve original dataframes
df_JHU_Fatality_clean = df_JHU_Fatality.copy()
df_JHU_Confirmed_clean = df_JHU_Confirmed.copy()
df_JHU_Recovered_clean = df_JHU_Recovered.copy()
df_JHU_Countries_clean = df_JHU_Countries.copy()
df_OWID_Covid_clean = df_OWID_Covid.copy()
df_OWID_Testing_clean = df_OWID_Testing.copy()
df_OWID_Countries_clean = df_OWID_Countries.copy()
df_ESTAT_census_clean = df_ESTAT_census.copy()
df_WIKI_ICU_clean = df_WIKI_ICU.copy()
df_UN_births_clean = df_UN_births.copy()
df_UN_deaths_clean = df_UN_deaths.copy()

### Issue 1:
#### Observe:
-  Tidiness: Columns 'Province/State', 'Lat' and 'Long' are not necessary in dataframes 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality'

#### Define:
- Drop columns 'Province/State', 'Lat' and 'Long'

#### Code:

In [712]:
# Drop variables which are only necessary for retweets
df_JHU_Fatality_clean.drop(['Province/State', 'Lat', 'Long'], axis=1, inplace=True)
df_JHU_Confirmed_clean.drop(['Province/State', 'Lat', 'Long'], axis=1, inplace=True)
df_JHU_Recovered_clean.drop(['Province/State', 'Lat', 'Long'], axis=1, inplace=True)

#### Test:

In [713]:
# Check if columnns 'Province/State', 'Lat' and 'Long' dropped
df_JHU_Fatality_clean.head(1)

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,106,109,115,120,122,127,132,136,153,168

In [714]:
# Check if columnns 'Province/State', 'Lat' and 'Long' dropped
df_JHU_Confirmed_clean.head(1)

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,3563,3778,4033,4402,4687,4963,5226,5639,6053,6402

In [715]:
# Check if columnns 'Province/State', 'Lat' and 'Long' dropped
df_JHU_Recovered_clean.head(1)

,Country/Region,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
0,Afghanistan,0,0,0,0,0,0,0,0,0,...,468,472,502,558,558,610,648,691,745,745

### Issue 2:
#### Observe:
- Tidiness: Column 'Country/Region' should only contain countries, therefore column name should by 'Country'.

#### Define:
- Rename column 'Country/Region' to 'country'

#### Code:

In [716]:
# Rename coloumn inplace to identic primary key
df_JHU_Fatality_clean.rename(columns={'Country/Region': 'country'}, inplace=True)
df_JHU_Confirmed_clean.rename(columns={'Country/Region': 'country'}, inplace=True)
df_JHU_Recovered_clean.rename(columns={'Country/Region': 'country'}, inplace=True)
df_JHU_Countries_clean.rename(columns={'Country/Region': 'country'}, inplace=True)
df_OWID_Covid_clean.rename(columns={'location': 'country'}, inplace=True)
df_OWID_Countries_clean.rename(columns={'location': 'country'}, inplace=True)
df_UN_births_clean.rename(columns={'Country or Area': 'country'}, inplace=True)
df_UN_deaths_clean.rename(columns={'Country or Area': 'country'}, inplace=True)

#### Test:

In [717]:
assert df_JHU_Fatality_clean.country.any()

In [718]:
assert df_JHU_Confirmed_clean.country.any()

In [719]:
assert df_JHU_Recovered_clean.country.any()

In [720]:
assert df_JHU_Countries_clean.country.any()

In [721]:
assert df_OWID_Covid_clean.country.any()

In [722]:
assert df_OWID_Countries_clean.country.any()

In [723]:
assert df_UN_births_clean.country.any()

In [724]:
assert df_UN_deaths_clean.country.any()

### Issue 3:
#### Observe:
- Tidiness: In the df_OWID_Covid_clean dataframes there is covid-related data where the variation frequency is daily and there is data not directly covid-related where data variation frequency is monthly or even constant for . Thus, there should be three observational units, df_covid for covid-related data and daily observations, df_OWID_country.

#### Define
- Create new dataframe df_OWID_Countries with columns 'iso_code', 'location', 'population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_100k'.

#### Code:

In [725]:
df_OWID_Countries = df_OWID_Covid_clean.copy()
df_OWID_Countries.drop([ 'date',
                         'total_cases',
                         'new_cases',
                         'total_deaths',
                         'new_deaths',
                         'total_cases_per_million',
                         'new_cases_per_million',
                         'total_deaths_per_million',
                         'new_deaths_per_million',
                         'total_tests',
                         'new_tests',
                         'total_tests_per_thousand',
                         'new_tests_per_thousand',
                         'tests_units',
                         'cvd_death_rate',
                         'handwashing_facilities',
                         'extreme_poverty'], axis=1, inplace=True)
df_OWID_Countries = df_OWID_Countries.drop_duplicates()

#subset=['A', 'C'],

#### Test:

In [727]:
df_OWID_Countries.country.value_counts().head(3)

Mexico    1
Iran      1
Guinea    1
Name: country, dtype: int64

In [728]:
list(df_OWID_Countries)

['iso_code',
 'country',
 'population',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'hospital_beds_per_100k']

### Issue 4:
#### Observe:
- Validity: Some observations/rows in dataframes 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality' contain the values for a region, for example Australia appears multiple times in column country as the observations are per region.

#### Define: 
- Sum values of rows with same entry in column country by using groupby

#### Code:

In [729]:
# Groupby and sum
df_JHU_Fatality_clean = df_JHU_Fatality_clean.groupby(['country'], as_index=False).sum()
df_JHU_Confirmed_clean = df_JHU_Confirmed_clean.groupby(['country'], as_index=False).sum()
df_JHU_Recovered_clean = df_JHU_Recovered_clean.groupby(['country'], as_index=False).sum()

#### Test:

In [730]:
df_JHU_Fatality_clean.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
183    False
184    False
185    False
186    False
187    False
Length: 188, dtype: bool

### Issue 5:
#### Observe:
- Tidiness: The data of 'df_JHU_Confirmed', 'df_JHU_Recovered', 'df_JHU_Fatality' should be one observational unit 'df_covid' with columns 'country', 'date', 'recovered', 'confirmed', 'fatal' and 'date' beeing of type datetime.

#### Define:
- Melt date columns to one column 'date', transform date to type datetime and merge the three dataframes to ones dataframe 'df_covid' with sorted date values.

#### Code:

In [731]:
# Melt each dataframe so that results in columns: country,
df_JHU_Fatality_clean = pd.melt(df_JHU_Fatality_clean, id_vars = ['country'], var_name='date', value_name='fatal')
df_JHU_Confirmed_clean = pd.melt(df_JHU_Confirmed_clean, id_vars = ['country'], var_name='date', value_name='confirmed')
df_JHU_Recovered_clean = pd.melt(df_JHU_Recovered_clean, id_vars = ['country'], var_name='date', value_name='recovered')

In [732]:
# Convert new columns date to datetime
df_JHU_Fatality_clean.date=pd.to_datetime(df_JHU_Fatality_clean.date)
df_JHU_Confirmed_clean.date=pd.to_datetime(df_JHU_Confirmed_clean.date)
df_JHU_Recovered_clean.date=pd.to_datetime(df_JHU_Recovered_clean.date)

In [733]:
# Merge three covid dataframes to one
df_covid = pd.merge(df_JHU_Fatality_clean, df_JHU_Confirmed_clean, on=['country','date'])
df_covid = pd.merge(df_covid, df_JHU_Recovered_clean, on=['country','date'])

In [734]:
# Sort date values by date
df_covid = df_covid.sort_values(by='date', ascending=True)

#### Test:

In [735]:
list(df_covid)

['country', 'date', 'fatal', 'confirmed', 'recovered']

In [736]:
df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21808 entries, 0 to 21807
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    21808 non-null  object
 1   date       21808 non-null  datetime64[ns]
 2   fatal      21808 non-null  int64
 3   confirmed  21808 non-null  int64
 4   recovered  21808 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1022.2+ KB

In [737]:
df_covid

           country       date  fatal  confirmed  recovered
0      Afghanistan 2020-01-22      0          0          0
120        Namibia 2020-01-22      0          0          0
121          Nepal 2020-01-22      0          0          0
122    Netherlands 2020-01-22      0          0          0
123    New Zealand 2020-01-22      0          0          0
...            ...        ...    ...        ...        ...
21684       Gambia 2020-05-16      1         23         12
21685      Georgia 2020-05-16     12        683        419
21686      Germany 2020-05-16   7938     175752     152600
21677      Estonia 2020-05-16     63       1770        934
21807     Zimbabwe 2020-05-16      4         42         13

[21808 rows x 5 columns]

### Issue 6:
#### Observe:
- Consistency: Some country names differ from one dataframe to another

#### Define:
- ...

#### Code

In [738]:
# Rename coloumn inplace
df_covid['country'].replace({'US': 'United States', 'Taiwan*': 'Taiwan'}, inplace=True)
df_JHU_Countries_clean['country'].replace({'US': 'United States', 'Taiwan*': 'Taiwan'}, inplace=True)

In [739]:
list(df_OWID_Testing_clean)

['ISO code',
 'Entity',
 'Date',
 'Source URL',
 'Source label',
 'Notes',
 'Number of observations',
 'Cumulative total',
 'Cumulative total per thousand',
 'Daily change in cumulative total',
 'Daily change in cumulative total per thousand',
 '3-day rolling mean daily change',
 '3-day rolling mean daily change per thousand',
 '7-day rolling mean daily change',
 '7-day rolling mean daily change per thousand',
 'General source label',
 'General source URL',
 'Short description',
 'Detailed description']

In [740]:
# Extract country name from column 'Entity' via regex
df_OWID_Testing_clean['country'] = df_OWID_Testing_clean.Entity.str.extract(
    '([A-Z][a-z]{0,10}.?[A-Z]?[a-z]{0,10})', expand=True)

#### Test:

In [741]:
# Check for countries which are referred to by different names in different dataframes
c_df_covid = df_covid['country'].unique()
c_df_JHU_Countries_clean = df_JHU_Countries_clean['country'].unique()
df_OWID_Countries = df_OWID_Countries['country'].unique()
c_df_OWID_Testing_clean = df_OWID_Testing_clean['country'].unique()
c_df_OWID_Countries_clean = df_OWID_Countries_clean['country'].unique()
c_df_WIKI_ICU_clean = df_WIKI_ICU_clean['country'].unique()
c_df_UN_births_clean = df_UN_births_clean['country'].unique()
c_df_UN_deaths_clean = df_UN_deaths_clean['country'].unique()

all_country_names = list(c_df_covid) + list(c_df_JHU_Countries_clean) + list(c_df_OWID_Covid_clean) + list(c_df_OWID_Testing_clean) + list(c_df_OWID_Countries_clean) + list(c_df_WIKI_ICU_clean) + list(c_df_UN_births_clean) + list(c_df_UN_deaths_clean)

all_country_names = pd.Series(all_country_names).unique()

In [742]:
all_country_names

array(['Afghanistan', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Mozambique',
       'Morocco', 'Montenegro', 'Mongolia', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'MS Zaandam', 'Romania', 'Madagascar', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Malawi', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'United States',
       'Uganda', 'Ukraine', 'Tanzania', 'United Arab Emirates', 'Uruguay',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'West Bank and Gaza',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe', 'United Kingdom',
       'Laos', 'Tajikistan', 'Syria', 'Saint Vincent and the Grenadines',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Taiwan',
       'Slovakia', 'Somalia', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Slovenia', 'Kyrgyzstan', 'Russia', 'Kosovo', 'Bulgaria',
       'Burkina Faso', 'Burma', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Central African Republic', 'Brunei', 'Chad',
       'China', 'Colombia', 'Comoros', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Chile', 'Cyprus', 'Brazil', 'Bosnia and Herzegovina',
       'Kuwait', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Botswana',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bahamas',
       'Czechia', 'Albania', 'Indonesia', 'Guinea-Bissau', 'Guyana',
       'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India', 'Denmark',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Korea, South', 'Guinea',
       'Guatemala', 'Haiti', 'Greece', 'Diamond Princess', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'Grenada',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'El Salvador',
       'Ethiopia', 'Eswatini', 'Germany', 'Georgia', 'Gambia', 'Ghana',
       'France', 'Finland', 'Fiji', 'Gabon', 'South Korea', 'Aruba',
       'Anguilla', 'Bonaire Sint Eustatius and Saba', 'Bermuda',
       'Democratic Republic of Congo', 'Congo', 'Cape Verde', 'Curacao',
       'Cayman Islands', 'Czech Republic', 'Falkland Islands',
       'Faeroe Islands', 'Guernsey', 'Gibraltar', 'Greenland', 'Guam',
       'Hong Kong', 'Isle of Man', 'Jersey', 'Macedonia', 'Myanmar',
       'Northern Mariana Islands', 'Montserrat', 'New Caledonia',
       'Puerto Rico', 'Palestine', 'French Polynesia', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Turks and Caicos Islands', 'Timor',
       'Vatican', 'British Virgin Islands',
       'United States Virgin Islands', 'World', 'International',
       'Argentina ', 'Australia ', 'Austria ', 'Bahrain ', 'Bangladesh ',
       'Belarus ', 'Belgium ', 'Bolivia ', 'Brazil ', 'Bulgaria ',
       'Canada ', 'Chile ', 'Colombia ', 'Croatia ', 'Cuba ', 'Denmark ',
       'Ecuador ', 'Estonia ', 'Ethiopia ', 'Finland ', 'France ',
       'Germany ', 'Ghana ', 'Greece ', 'Hungary ', 'Iceland ', 'India ',
       'Indonesia ', 'Iran ', 'Ireland ', 'Israel ', 'Italy ', 'Japan ',
       'Kazakhstan ', 'Kenya ', 'Latvia ', 'Lithuania ', 'Luxembourg ',
       'Malaysia ', 'Mexico ', 'Morocco ', 'Myanmar ', 'Nepal ',
       'Netherlands ', 'Nigeria ', 'Norway ', 'Pakistan ', 'Panama ',
       'Paraguay ', 'Peru ', 'Philippines ', 'Poland ', 'Portugal ',
       'Qatar ', 'Romania ', 'Russia ', 'Rwanda ', 'Senegal ', 'Serbia ',
       'Singapore ', 'Slovakia ', 'Slovenia ', 'Spain ', 'Sweden ',
       'Switzerland ', 'Taiwan ', 'Thailand ', 'Tunisia ', 'Turkey ',
       'Uganda ', 'Ukraine ', 'Uruguay ', 'Vietnam ', 'Zimbabwe ',
       '\xa0Japan', '\xa0South Korea', '\xa0Russia', '\xa0Germany',
       '\xa0Austria', '\xa0Hungary', '\xa0Czech Republic', '\xa0Poland',
       '\xa0Lithuania', '\xa0France', '\xa0Slovakia', '\xa0Belgium',
       '\xa0Latvia', '\xa0Hong Kong', '\xa0Estonia', '\xa0Luxembourg',
       '\xa0\xa0Switzerland', '\xa0Slovenia', '\xa0China', '\xa0Greece',
       '\xa0Australia', '\xa0Norway', '\xa0Portugal', '\xa0Netherlands',
       '\xa0Finland', '\xa0Italy', '\xa0Iceland', '\xa0Israel',
       '\xa0Spain', '\xa0Ireland', '\xa0Turkey', '\xa0United States',
       '\xa0New Zealand', '\xa0Denmark', '\xa0United Kingdom(more)',
       '\xa0Canada', '\xa0Sweden', '\xa0Chile', '\xa0Colombia',
       '\xa0India', '\xa0Mexico', '\xa0Ukraine', '\xa0Bangladesh',
       'Åland Islands', 'American Samoa', 'Brunei Darussalam',
       'China, Hong Kong SAR', 'China, Macao SAR', 'Cook Islands',
       'Curaçao', 'Faroe Islands', 'Iran (Islamic Republic of)', 'Palau',
       'Republic of Korea', 'Republic of Moldova', 'Russian Federation',
       'Saint Helena ex. dep.',
       'United Kingdom of Great Britain and Northern Ireland',
       'United States of America', 'Venezuela (Bolivarian Republic of)',
       'footnoteSeqID', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40'], dtype=object)

In [ ]:
len(countrie_in_both_df)

In [ ]:
len(df_covid.country.unique())

In [ ]:
len(df_OWID_Covid_clean.country.unique())

In [ ]:
list(df_OWID_Covid_clean)

In [ ]:
df_OWID_Covid_clean.new_tests.value_counts()


- df_OWID_Testing drop columns 'source URL', 'Source label', 'Notes', 'Number of observations', 'Daily change in cumulative total', 'Daily change in cumulative total per thousand', '3-day rolling mean daily change', '3-day rolling mean daily change per thousand', '7-day rolling mean daily change', '7-day rolling mean daily change per thousand','General source label', 'General source URL', 'Short description', 'Detailed description'
- df_OWID_Testing Either cut per regex country name from 'Entity' and rename country or join country name from other df

<a id='store'></a>
## 5. Store clean data

In [ ]:
# Store cleaned dataset to csv
df_covid.to_csv('covid_master.csv', encoding='utf-8')